In [17]:
from impact2_engine.PlasmaVolume import PlasmaVolume
import pandas as pd
import yaml

In [18]:
with open('../../impact2_engine/config/PlasmaVolume.yaml', 'r', encoding = 'utf-8') as safety_stream:
    plasma_volume_config = yaml.safe_load(safety_stream)

In [19]:
plasma_volume_config['data_path'] = '../../impact2_engine/data/' + plasma_volume_config['data_path']

In [20]:
pv = PlasmaVolume(**plasma_volume_config)

/Volumes/Biometrics/Scripts/IMPACT2 MS Engine/scripts/Robert_Yenokyan/new2/impact2_monitoring/impact2_engine/PlasmaVolume/PlasmaVolume.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['persona_1'] = self.__calculate_plasma_volume(persona_1=True)
/Volumes/Biometrics/Scripts/IMPACT2 MS Engine/scripts/Robert_Yenokyan/new2/impact2_monitoring/impact2_engine/PlasmaVolume/PlasmaVolume.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['persona_2'] = self.__calculate_plasma_volume(persona_1=False)
/Volumes/Biometrics/Scripts/IMPACT2 MS Engine/scripts/Robert_Yenokyan/new2/impact2_monitoring/impact2_engine/PlasmaVolume/PlasmaVolume.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.data['overall'] = 'overall'

In [5]:
pv.get_plasma_collection_summary()

,group,average_yield,total_plasma_collected,average_target_colume,average_collected_volume
0,A,0.990954,9011456.0,778.492509,771.462717
1,B,0.987899,9366383.0,841.603887,831.311174

In [6]:
pv.data.columns

Index(['col_date', 'site', 'status', 'gender', 'age_cat', 'weight_cat',
       'weight', 'group', 'target_vol', 'actual_vol', 'bmi_cat', 'itt', 'mitt',
       'pp', 'yield', 'height', 'hematocrit', 'month', 'day', 'week',
       'persona_1', 'persona_2', 'overall'],
      dtype='object')

In [7]:
stratify_by_list = ['site', 'status', 'gender', 'age_cat', 'weight_cat', 'bmi_cat']

In [8]:
population_list = ['itt', 'mitt', 'pp']

In [9]:
pv.get_comparative_gain(population='itt', stratify_by='age_cat')

   age_cat         left        right        mean
0    18-24  -109.420947  1839.269451 -864.924252
1    25-39   400.135537  1377.372649 -888.754093
2    40-64   332.106142  1445.069094 -888.587618
3      65+ -4274.623667  5932.640208 -829.008271
4  overall   542.791505  1228.320674 -885.556090

In [16]:
pv.get_longitudinal_stat('mitt', 'month')

               persona_1     persona_2       delta  delta_percentage
month
2020-01-01 -12286.639531 -13148.937648 -862.298118          7.018177
2020-02-01 -12571.868098 -13454.118038 -882.249939          7.017652
2020-03-01 -12735.791046 -13629.573023 -893.781976          7.017876